* {
  margin: 0;
  padding: 0;
 
}

.wrapper {
  margin-top: 20vh;
  margin-bottom: 40vh;
  margin-left: 2vw;
  height: 60vh;
  width: 50vw;
  display: flex;
  vertical-align: center;
  align-items: center;
  justify-content: center;
  background-color: white;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  height: 150vh;
  border-radius: 13px;
  box-shadow: 20px 40px 33px rgba(0,0,0,0.3);
  padding: 2rem;
  width: 100vw;
  background-color:  #6cc2ce;

}

/*.product-canvas {*/
/*  width: 200vw;*/
/*  height: 100%;*/
/*  background:white;*/
/*  box-shadow:  10px 15px 15px 6px #3891b4;*/
/*  border-radius: 0px;*/
/*  margin-bottom:20px*/

/*}*/
.tagDiv{
  margin-top: 2vh;
  margin-left: 2vw;
  height: 60vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  background-color: white;
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*.colors {*/
/*display:flex;*/
/*flex-direction:row;*/
/*}*/

/*.colors div {padding:8px;}*/
